<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Days </title>
  </head>
  <body>
  <h1></br>
      </br>
      <div>6:30</div>
      </br>
      <div>6:30</div>
      </br>
      </br>
      <div>6:45</div>
      </br>
      <div>6:45</div>
      </br>
      </br>
      <div>7:00</div>
      </br>
      <div>7:00</div>
      </br>
      </br>
      <div>7:15</div>
      </br>
      <div>7:15</div>
      </br>
      </br>
      <div>7:30</div>
      </br>
      <div>7:30</div>
      </br>
      </br>
      <div>7:45</div>
      </br>
      <div>7:45</div>
      </br>
      </br>
      <div>8:00</div>
      </br>
      <div>8:00</div>
      </br>
      </br>
      <div>8:15</div>
      </br>
      <div>8:15</div>
      </br>
      </br>
      <div>8:30</div>
      </br>
      <div>8:30</div>
      </br>
      </br>
      <div>8:45</div>
      </br>
      <div>8:45</div>
      </br>
      </br>
      <div>9:00</div>
      </br>
      <div>9:00</div>
      </br>
      </br>
      <div>9:15</div>
      </br>
      <div>9:15</div>
      </br>
      </br>
      <div>9:30</div>
      </br>
      <div>9:30</div>
      </br>
      </br>
      <div>9:45</div>
      </br>
      <div>9:45</div>
      </br>
      </br>
      <div>10:00</div>
      </br>
      <div>10:00</div>
      </br>
      </br>
  </h1>


  </body>
</html>
