<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Days </title>
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/day.css' %}"/>
  </head>
  <body>


  <h1></br>
      </br>
      <a id="date">24/10/2016 </a>
      <a id ="back_menu" href="{% url 'index' %}">BACK TO MONTH</a>
      </br>
      </br>
      <div class = "times">6:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
       <div class = "times">6:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
       <div class = "times">6:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">6:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">6:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
       <div class = "times">6:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
       <div class = "times">6:45<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">6:45<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
     <div class = "times">7:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
     <div class = "times">7:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">7:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">7:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">7:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">7:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">7:45<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">7:45<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">8:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">8:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">8:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">8:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">8:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">8:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">8:45<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">8:45<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">9:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">9:00<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">9:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">9:15<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      </br>
      <div class = "times">9:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>
      </br>
      <div class = "times">9:30<a class="edit_botton">EDIT</a><a class="arrived_botton">ARRIVED</a></div>

  </h1>


  </body>
</html>
