<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookings for {{ booking_day|date:"d M Y" }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'calendario/css/sunday.css' %}"/>
    <script src="{% static 'calendario/js/day.js' %}"></script>
</head>
<body>


{% block content %}
    <h1 class="date_of_booking">Date : {{ booking_day|date:"d M Y" }}</h1>
    <h1 class="amount_of_pax">Booked : {{ result_sunday }} pax </h1>
    <h1></br>
        <a id="back_to_month" href="{% url 'index' %}">BACK TO MONTH</a>
        </br>
        </br>
        <h1 class="date_of_booking">FIRST SITTING</h1>

        </br>
        {% for x in sunday_bookings_first %}
            <div class="times_of_booking"><a class="add_booking"href="{% url 'new_booking_sunday' %}?date={{ date_of_day }}&hour={{ x.0 }}&table={{ x.1 }}&returnurl={{ request.get_full_path|urlencode }}">ADD</a>{{ x.0 }}&nbsp;Table: {{ x.1 }}&nbsp;

            {% for booking in all_booking_of_sunday %}
                {% for table in booking.tables.all %}
                    {% if table.id == x.1 and booking.time == x.0 %}
                            <a class="add_booking"
                                href="{% url 'booking_edit_sunday' pk=booking.pk %}">EDIT</a>&nbsp;Name:&nbsp;&nbsp;{{ booking.name }}&nbsp;&nbsp;Pax:&nbsp;{{ booking.pax }}&nbsp;&nbsp;&nbsp;{{ booking.comments }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if booking.phone != None %}{{ booking.phone }}{% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div></br></br></br>
        {% endfor %}

        <h1 class="date_of_booking">SECOND SITTING</h1>

        </br>
        {% for x in sunday_bookings_second %}
            <div class="times_of_booking"><a class="add_booking"href="{% url 'new_booking_sunday' %}?date={{ date_of_day }}&hour={{ x.0 }}&table={{ x.1 }}&returnurl={{ request.get_full_path|urlencode }}">ADD</a>{{ x.0 }}&nbsp;Table: {{ x.1 }}&nbsp;

            {% for booking in all_booking_of_sunday %}
                {% for table in booking.tables.all %}
                    {% if table.id == x.1 and booking.time == x.0 %}
                            <a class="add_booking"
                                href="{% url 'booking_edit_sunday' pk=booking.pk %}">EDIT</a>&nbsp;Name:&nbsp;&nbsp;{{ booking.name }}&nbsp;&nbsp;Pax:&nbsp;{{ booking.pax }}&nbsp;&nbsp;&nbsp;{{ booking.comments }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if booking.phone != None %}{{ booking.phone }}{% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div></br></br></br>
        {% endfor %}

    </h1>

{% endblock %}
</body>
</html>
